.timer_wrapper{
  width: 100%;
h1{
  margin-left: 50px;
}
  color: white;
.timer_wrapper--content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
    div{
      display: flex;
      flex-direction: column;
      font-size: 30px;
      align-items: center;
      span{
        font-size: 18px;
      }
    }
}
}